DOKPLOY_URL=
DOKPLOY_API_KEY=
DOKPLOY_ENV=prod
FQDN=
GITHUB_TOKEN=
REDDIT_APP_NAME=
REDDIT_APP_CLIENT_ID=
REDDIT_APP_SECRET=
# docker run --rm glanceapp/glance secret:make
MY_SECRET_TOKEN=123456
WORKING_DIR=
